body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:Verdana}
.maindiv{
    margin:auto;
    width:300px;
    border-radius:25px;
    padding:20px;
    background-color: white;
    color: black;
}


